body {
    background-color: #FEE140;
    background-image: linear-gradient(90deg, #FEE140 0%, #FA709A 100%);
}

h1{
    color: red;
    font-size: 48px;
    text-align: center;   
}

h2{
    color: brown
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
/*Esta secco+pm spñp se visualiza en el index y nosotros*/
.caja {
    border: solid 10px red;
    display: inline-block;
    background-color: black;
    color: whitesmoke;
}

.caja__parrafo{
    margin-left: 1rem;
    margin-right: 1rem;
}

ul{
    text-align: center;
    text-transform: uppercase;
    font-size: large;
}

ul li{
    display: inline-block;
}